<% if logged_in? %>
	<br><h3>profile of : <%= current_user.name %> </h3>

	<form method="get" action="/">
			<button type="submit" class="btn btn-default" >Home</button>
	</form>

	<form method="post" action="/logout">
		<button type="submit" class="btn btn-default" >Logout</button>
		<input name="_method" type="hidden" value="delete" />
	</form>
	
<% end %>


<h5>Comments posted by : <%= current_user.name %> </h5>

<%current_user.comments.each do |comment|%>
<li><%=comment.comment_detail%></li>
<hr>
<% end %>

<h5>Room posted by : <%= current_user.name %> </h5>

<%current_user.properties.each do |property|%>
<li><%=property.property_description%> : <%=property.rental%></li>
<hr>
<% end %>

<h5>Room booked by : <%= current_user.name %> </h5>

<%if @booking %>
<br><%=@booking.property.property_description %> : <%=@booking.property.rental %>
<br><%=@booking.booking_date %>
<br><%=@booking.booking_detail %>
<hr>
<%end%>
